.body-img{
  background-image: url("../images/flores2.jpg");
  background-position: center;
  height: 800px;
  position: relative;
}

.navbar .nav-item .nav-link{
  color: #521a75;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}

.navbar .nav-item .nav-link:hover{
  color: #b88dba;
  text-decoration: none;
}

.logo{
  width:60%;
}

.tittle2{
    position: relative;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: black;
    border-bottom: solid 2px #521a75;
    display: inline-block;
    padding-top: 50px;
    font-size: 31px;
    font-family:"Raleway", sans-serif;

}

.cta{
background-color: rgb(184, 141, 186, 0.8);
}

.cta-inner{
  position: relative;
  padding: 1rem;
  background-color: rgba(255,255,255,.85);
}

.cta .cta-inner{
    border: .25rem solid rgba(82, 26, 117, 0.7);
    top: -.5rem;
    bottom: -.5rem;
    left: -.5rem;
    right: -.5rem;
    border-radius: 10px;
}

.tittle-alq{
  border-bottom: solid 2px #521a75;
  display: inline-block; 
  font-family: Raleway;
   letter-spacing: 1.3px;
}

.fab{
	color: black;
}
.fai{
	color: black;
}

.fab:hover{
	color: black;	
	text-decoration: none;
}
.fai:hover{
	color: black;
	text-decoration: none;
}

.contact{
  list-style-type: none;
  padding-inline-start: 0%;
}
.page-section2{
  background-color: rgb(184, 141, 186, 0.8);
  margin-top: 20px;
}

.page-section{
  background-color: rgb(82, 26, 117, 0.8);
  margin-top: 0px;
}

.cta2{
background-color: rgb(82, 26, 117, 0.8);
}

.cta-inner2{
  position: relative;
  padding: 1rem;
  background-color: rgba(255,255,255,.85);
}

.cta2 .cta-inner2{
    border: .25rem solid rgba(184, 141, 186, 0.7);
    top: -.5rem;
    bottom: -.5rem;
    left: -.5rem;
    right: -.5rem;
    border-radius: 10px;
}

.tittle-alq2{
  border-bottom: solid 2px #b88dba;
  display: inline-block; 
  font-family: Raleway;
  letter-spacing: 1.3px;
}

.text{
  float: left;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin: 7px 0 10px;
  color: black;
  display: inline-block;
  border-bottom: solid 2px #521a75;

}

footer{
  text-align: center; 
}

.estilo-footer{
  color: black;
  text-decoration: none;
  font-size: 10px;
  font-family: "Barlow Condensed", Sans-serif;
}

.estilo-footer:hover{
  color: black;
  text-decoration: none;
}

@media(max-width:575.98px) {

.tittle2 {
    position: relative;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: black;
    border-bottom: solid 2px #521a75;
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;

  }

  .tittle-alq{
  border-bottom: none;
  display: inline-block; 
  font-family: Raleway;
   letter-spacing: 1.3px;
   font-size: 20px;
}

.tittle-alq2{
  border-bottom:  none;
  display: inline-block; 
  font-family: Raleway;
  letter-spacing: 1.3px;
  font-size: 20px;
}
  

.cta2 .cta-inner2{
    border: .25rem solid rgba(184, 141, 186, 0.7);
    top: -.5rem;
    bottom: -.5rem;
    left: 0rem;
    right: 0rem;
    border-radius: 10px;
}
  .cta .cta-inner{
    border: .25rem solid rgba(82, 26, 117, 0.7);
    top: -.5rem;
    bottom: -.5rem;
    left: 0rem;
    right: 0rem;
    border-radius: 10px;
}

  }
